/* myapp/static/myapp/css/style.css */
html,
body {
    font-family: Arial, sans-serif;
    background-color: #214761;
    color: rgb(213, 225, 235);
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}



h1 {
    color: rgb(147, 147, 221);
}

a {
    color: rgb(3, 175, 3);
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* -- header -- */

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}

.header_logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img_logo {
    height: 150px;
    width: auto;
}

/* -- end header -- */
/* -- home -- */

.home {
    box-sizing: border-box;
    flex: 1;
    padding: 0 20px;
}

.home_center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputNumb {
    padding: 5px 5px;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #de722a;
    background: none;
    cursor: pointer;
    text-align: center;
}

.applyNumberBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    color: #de722a;
    background: none;
    cursor: pointer;
}

@keyframes blink_once {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        background: none;
    }
}

.blinkInput {
    background-color: #007bff;

    animation-name: blink_once;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


.home_choice {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    gap: 15px;
}

.home_box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.home_box_count_points {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
}

.home_box_name_points {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_box_counting_points {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.blinking-number {
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes blink {
    0% {
        /* Начальное состояние */
        opacity: 1;
        /* Полностью видимо */
        color: #e4c86d;
        /* background-color: #fce4ec; */
        transform: scale(1);
        /* Исходный размер */
    }

    50% {
        /* Середина анимации (когда должно быть невидимо или тускло) */
        opacity: 0.4;
        /* Полупрозрачно */
        color: #e4b418;
        /* Темнее */
        /* background-color: #f8bbd0; */
        /* Темнее фон */
        transform: scale(1.30);
        /* Слегка увеличить */
    }

    100% {
        /* Конец анимации (возврат к видимому состоянию) */
        opacity: 1;
        color: #e4c86d;
        /* background-color: #fce4ec; */
        transform: scale(1);
    }
}

.blinking-active {
    animation-play-state: running;
    /* Запускаем анимацию */
}

.home_box_counting {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.home_box_counting_name {
    font-size: 20px;
}

.home_box_name {
    font-size: 44px;
}

.home_box_line {
    padding-right: 15px;
}

.home_box_points {
    font-size: 50px;
    display: flex;
    color: #de722a;
}

.home_box_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #e6c455;
    height: 32px;
}

.home_box_preview_error {
    transition: color 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease;
    color: #ff1500;
}


.home_box_preview_color {
    transition: color 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease;
    text-shadow: 0 0 8px #e6c455;
}

.home_box_preview_finish {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #e6c455;
    height: 32px;
}

/* высплывающее окно champion */
.champion {
    display: none;
    justify-content: center;
    position: fixed;
    width: 500px;
    height: 250px;
    background-color: #3F51B5;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    align-items: center;

}

.champion_text {
    position: absolute;
    top: 5px;
    font-size: 30px;
}

.cub_champion {
    display: none;
    position: absolute;
    justify-content: center;
    top: 40px;
    width: 170px;
    height: 150px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/cub_champion.png);
}

.champion_btn_close {
    position: absolute;
    bottom: 20px;
    left: 208px;
    border: 1px solid rgb(3, 175, 3);
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.champion_btn_close:hover {
    background-color: blueviolet;
}

.home_center_line {
    border-right: 1px solid rgb(3, 175, 3);
}

.home_box_input {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 55%;
    font-size: 26px;
    justify-content: center;
}

.home_box_input_optional {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 55%;
    font-size: 26px;
    justify-content: center;
    padding-top: 5px;
}

.home_box_input_btn {
    border: 1px solid rgb(3, 175, 3);
    padding: 5px 10px;
}

.home_box_input_btn:hover {
    background-color: blueviolet;
}

.home_box_input_btn:active {
    background-color: #3e8e41;
}

.home_box_buttons {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.home_box_buttons_push {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid rgb(3, 175, 3);
    padding: 5px 10px;
}

.home_box_buttons_push:hover {
    background-color: blueviolet;
}

.home_box_buttons_push:active {
    background-color: #3e8e41;
}

.disabled_numb27 {
    opacity: 0.6;
    /* Делаем полупрозрачным */
    cursor: not-allowed;
    /* Меняем курсор на запрещающий */
    pointer-events: none;
    /* Запрещаем все события мыши (клики, наведение и т.д.) */
    /* Можно добавить и другие стили, например, изменить фон */
    background-color: #eee;
    color: #777;
}

/* -- end home -- */
/* -- footer -- */

.footer {
    padding: 20px;
}

/* -- end footer -- */
