{% load static %}
<header>

    <div class="header_logo">
        <img src="{% static 'myapp/images/logo.png' %}" alt="logo" class="header_img_logo">
    </div>
    <div class="header_navi">
        <a href="{% url 'home_page' %}">Главная</a> |
        <a href="{% url 'set_points' %}">301 / 501</a> |
        <a href="{% url 'cricket' %}">Cricket</a> |
        <a href="{% url 'free_set_points' %}">Набор очков</a> |
        <a href="{% url 'statistics' %}">Статистика</a> |
        <a href="{% url 'users' %}">Пользователи</a>
    </div>

</header>