{% extends 'myapp/base.html' %}

{% block title %}Набор очков{% endblock %}

{% block content %}

<div class="home_choice">
    <h1>301 / 501</h1>
</div>
<div id="champion" class="champion"></div>
<div class="home_center">
    <div class="home_box">
        <div class="home_box_name_points">
            <div class="home_box_name">Niko</div>
            <div class="home_box_line"></div>
            <div class="home_box_points">
                <div id="result_set_points"></div>
            </div>
        </div>
        <div class="home_box_count_points">
            <div class="home_box_counting">
                <div class="home_box_counting_name">Очки</div>
                <div class="home_box_preview">
                    <p>Д20 | 10 | 15</p>
                </div>
            </div>
            <div class="home_box_counting">
                <div class="home_box_counting_name">Завершение</div>
                <div class="home_box_preview_finish">
                    <p>Д20 | 10 | 15</p>
                </div>
            </div>
        </div>
        <div class="home_box_input">
            <div id="number0" class="home_box_input_btn">0</div>
            <div id="number1" class="home_box_input_btn">1</div>
            <div id="number2" class="home_box_input_btn">2</div>
            <div id="number3" class="home_box_input_btn">3</div>
            <div id="number4" class="home_box_input_btn">4</div>
            <div id="number5" class="home_box_input_btn">5</div>
            <div id="number6" class="home_box_input_btn">6</div>
            <div id="number7" class="home_box_input_btn">7</div>
            <div id="number8" class="home_box_input_btn">8</div>
            <div id="number9" class="home_box_input_btn">9</div>
            <div id="number10" class="home_box_input_btn">10</div>
            <div id="number11" class="home_box_input_btn">11</div>
            <div id="number12" class="home_box_input_btn">12</div>
            <div id="number13" class="home_box_input_btn">13</div>
            <div id="number14" class="home_box_input_btn">14</div>
            <div id="number15" class="home_box_input_btn">15</div>
            <div id="number16" class="home_box_input_btn">16</div>
            <div id="number17" class="home_box_input_btn">17</div>
            <div id="number18" class="home_box_input_btn">18</div>
            <div id="number19" class="home_box_input_btn">19</div>
            <div id="number20" class="home_box_input_btn">20</div>
            <div id="number21" class="home_box_input_btn">21</div>
            <div id="number22" class="home_box_input_btn">22</div>
            <div id="number23" class="home_box_input_btn">23</div>
            <div id="number24" class="home_box_input_btn">24</div>
            <div id="number25" class="home_box_input_btn">25</div>
            <div id="number26" class="home_box_input_btn">Удвоение 2Х</div>
            <div id="number27" class="home_box_input_btn">Утроение 3Х</div>
            <div id="number28" class="home_box_input_btn">Вернуть</div>
        </div>
        <!-- <div class="home_box_buttons">
            <div id="push2" class="home_box_buttons_push">Удвоение 2Х</div>
            <div id="push3" class="home_box_buttons_push">Утроение 3Х</div>
            <div id="push_clear" class="home_box_buttons_push">Вернуть</div>
        </div> -->
    </div>
    <div class="home_center_line"></div> <!-- line-->
    <div class="home_box">
        <div class="home_box_name">Красавчик</div>
        <div class="home_box_points">
            <p>301</p>
        </div>
        <div class="home_box_preview">
            <p>Д20 | 10 | 15</p>
        </div>
        <div class="home_box_input"></div>
    </div>
</div>
{% endblock %}